@font-face {
    font-family: WebLysleekUI;
    src: url('../fonts/weblysleekuisb.ttf');
}

body {
	margin: 0;
	background-color: #EF7018;
}

.container {
    margin: auto;
    
    position: absolute;

    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#mail_verified_graphic {    
    width: 62.5%;
	display: block;
    margin: auto
}

#mail_verified_text {
    font-family: WebLysleekUI;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.84);
}

@media only screen and (min-width: 768px) {
    p {
        font-size: 2em;
    }
}